INTRO:

In [20]:
print("Hello, World!")

Hello, World!

GET STARTED:

In [23]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

SYNTAX:

In [55]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [57]:
if 5 > 2:
    print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

COMMENTS:

In [60]:
#This is a comment
print("This is not")

This is not

In [62]:
print("Hello, World!") #Comment

Hello, World!

In [64]:
#print("Hello world!")
print("Cheers, Mate!")

Cheers, Mate!

In [66]:
'''
This is a comment written in more than just one line
'''
print("KBTU")

KBTU

VARIABLES:

In [69]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [71]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [73]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

# If you want to specify the data type of a variable, this can be done with casting.

In [75]:
x = 5
y = "John "
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single/Double Quotes?

In [83]:
x = "John"
# is the same
x = 'John'

Case-Sensetive # чувствителен к регистру

In [92]:
a = 4
A = "Sally"
# A will not overwrite a

VARIABLE NAMES:
Legal variable names

In [98]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
myVariableName = "John"
MyVariableName = "John"
my_variable_name = "John"

ASSIGN MULTIPLE VALUES:

In [101]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables

In [106]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection

In [109]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

In [116]:
x = "Python is awesome"
print(x)

Python is awesome

In [120]:
x = "Python"
y = "is"
z = "awesome"
print(x,y,z)

Python is awesome

In [122]:
print(x+y+z)

Pythonisawesome

Global Variables

In [127]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [133]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is  " + x)

myfunc()

print("Python is " + x)

Python is  fantastic
Python is awesome

In [137]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [139]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

DATA TYPES:

Text type: str

Numeric Types: int, float, complex

Sequence Types: list, tuple, range

Mapping Type: dict

Set types: set, frozenset

Boolean Type: bool

Binary Types: bytes, bytearray, memoryview

None type: NoneType

In [146]:
x = 5
print(type(x))
# use 'type()' to print type of var.

<class 'int'>

Setting Data Type

In [149]:
x = "Hello"                                   # str
x = 20                                        # int
x = 20.5                                      # float
x = 1j                                        # complex
x = ["apple", "banana", "cherry"]             # list
x = ("apple", "banana", "cherry")             # range
x = range(6)                                  # range
x = {"name" : "John", "age" : 36}             # dict
x = {"apple", "banana", "cherry"}             # set
x = frozenset({"apple", "banana", "cherry"})  # frozenset
x = True                                      # bool
x = b"Hello"                                  # bytes
x = bytearray(5)                              # bytearray
x = memoryview(bytes(5))                      # memory view
x = None                                      # NoneType

NUMBERS:

There are 3 numeric types in Python:
- int
- float
- complex

In [153]:
# Variables of numeric types are created when you assign a value to them:

x = 1   # int
y = 2.8 # float
z = 1j  # compex

In [155]:
# To verify the type of any object in Python, use the type() function:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [158]:
x = 1
y = 3265986256982
z = -252548645

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [161]:
x = 1.10
y = 1.0
z = -35.39

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [164]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex 

Complex numbers are written with a "j" as the imaginary part:

In [169]:
x = 3 + 5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [173]:
# Convert from one type to another:

x = 1
y = 2.8
z = 1j

#convert from int ti float:
a = float(x)

#conert from int to complex:
b = complex(x)

#convert from float to int:
c = int(y)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
(1+0j)
2
<class 'float'>
<class 'complex'>
<class 'int'>

Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [177]:
import random

print(random.randrange(1, 10))

6

CASTING:

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)


float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)


str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [185]:
# Integers:

x = int(1)    # x will be 1
y = int(2.8)  # y will be 2
z = int("3")  # z will be 3

In [187]:
# Floats:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0 
w = float("4.2") # w will be 4.2

In [189]:
#Strings:

x = str("s1") # x will be "s1"
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

STRINGS:

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

In [193]:
print("hello")
print('hello')

hello
hello

Quotes Inside Quotes. You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [196]:
print("It's alright")
print("He is called 'Johny'")
print('He is called "Johny"')

It's alright
He is called 'Johny'
He is called "Johny"

Assigning String to a var.

In [201]:
a = "Hi"
print(a)

Hi

Multiline strings. You can assign a multiline string to a variable by using three quotes:

In [204]:
a = """Qwertyuiop;.,mnbvcdxsdertyuik, 
esdrtgyhjkl;e[cwpdkjiemkdkcfjevoflcdv
erfcguerjifolpervkrjeivrfpvlrkej0"""
print(a)

Qwertyuiop;.,mnbvcdxsdertyuik,
esdrtgyhjkl;e[cwpdkjiemkdkcfjevoflcdv
erfcguerjifolpervkrjeivrfpvlrkej0

or three single quotes:

In [207]:
a = '''Qwertyuiop;.,mnbvcdxsdertyuik, 
esdrtgyhjkl;e[cwpdkjiemkdkcfjevoflcdv
erfcguerjifolpervkrjeivrfpvlrkej0'''
print(a)

Qwertyuiop;.,mnbvcdxsdertyuik,
esdrtgyhjkl;e[cwpdkjiemkdkcfjevoflcdv
erfcguerjifolpervkrjeivrfpvlrkej0

Strings are Arrays

In [213]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Chanel or Gucci?"
print(a[1])

h

Looping through a String

In [216]:
for x in "banana":
    print(x)

b
a
n
a
n
a

String Length

In [221]:
# use the function 'len()' to know the lenght of var.

a = "Qwerty"
print(len(a))

6

Check String. To check if a certain phrase or character is present in a string, we can use the keyword in.

In [224]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [226]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Check if Not

In [229]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [231]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

Slicing Strings. You can return a range of characters by using the slice syntax.

list[ _ : _ : _ :]

I call its parametrs: SSS(Start Stop Step)

In [235]:
# to get the ch-s from position 2 to 5(not included):
b = "Hello World"
print(b[2:5])

llo

In [237]:
# to get the ch-s from the start to position 5(not included):

a = "Qwerty Ytrewq"
print(a[:5])

Qwert

In [241]:
# to get the characters from position 2, and all the way to the end:

a = "Qwerty Ytrewq"
print(a[2:])

erty Ytrewq

Negative Indexing. Use negative indexes to start the slice from the end of the string:

In [244]:
'''
Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):
'''

b = "Hello, World!"
print(b[-5:-2])

orl

MODIFY STRINGS:

In [249]:
# the upper() method returns the string in upper case:
a = "Hello World"
print(a.upper())

HELLO WORLD

In [253]:
# the lower() method returns the string in lower case:

a = "Hello World"
print(a.lower())

hello world

Remove whitesapce

In [258]:
# using 'strip()' method you can remove the whitespaces before and after the text(if they're)

a = "      Anel Kulmuratova    "
print(a.strip())

Anel Kulmuratova

Replace str

In [265]:
a = "Hello KBTU"
print(a.replace("H", "Z"))

Zello KBTU

Split str. The split() method returns a list where the text between the specified separator becomes the list items.

In [269]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

String Concatenation

In [272]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [274]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

Format - Strings. F-Strings

In [280]:
age = 20
txt = f"My name is Mansur, I am {age}"
print(txt)

My name is Mansur, I am 20

In [286]:
# A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

Escape Ch-s

In [291]:
'''The escape character allows you to use double quotes when you normally 
would not be allowed:'''

txt = "We are the so-called \"Vikings\" from the north."

print(txt)

We are the so-called "Vikings" from the north.