LIST COMPREHENSION

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Понимание списков предлагает более короткий синтаксис, когда вы хотите создать новый список на основе значений существующего списка.

The diffrenece between with/without List Comprehension:

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

The Syntax:

In [13]:
# newlist = [expression for item in iterable if condition == True]

SORT LISTS

In [18]:
# sort() - with this method yuo can sort the list alphanumerically, ascending(by default)

In [20]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [22]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

Sort Descending

To sort descending, use the keyword argument reverse = True:

In [26]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [28]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

Reverse Order

In [33]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

COPY LISTS

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

You cannot copy a list simply by typing list2 = list1, 
because: 
list2 will only be a reference to list1,
and changes made in list1 will automatically also be made in list2.

You can use the built-in List method copy() to copy a list.

In [41]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

Use the list() method
Another way to make a copy is to use the built-in method list().

In [44]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Use the slice Operator
You can also make a copy of a list by using the : (slice) operator.

In [47]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

JOIN LISTS

Join Two Lists

There are several ways to join, or concatenate, two or more lists in Python.
    

One of the easiest ways are by using the + operator.

In [51]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [54]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [57]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Добавляет каждый элемент из iterable в список, а не сам объект целиком.

In [62]:
list1 = [1, 2, 3]
string = "abc"

list1.extend(string)
print(list1)  # [1, 2, 3, 'a', 'b', 'c']

[1, 2, 3, 'a', 'b', 'c']

TUPLES

Tuple - кортеж

A tuple is a collection which is ordered and unchangeable.

In [66]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple Items. Tuple items are ordered, unchangeable, and allow duplicate values. Tuple items are indexed, the first item has index [0], the second item has index [1] etc.



Ordered - When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.



Unchangeable - Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.



Allow Duplicates - Since tuples are indexed, they can have items with the same value:

.

Access Tuple Items

In [77]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [79]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [81]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [83]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [85]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [87]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

Check if Item Exists

In [90]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

UPDATE TUPLES

Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [96]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [98]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

UNPACK TUPLES