LIST

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [3]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

List Items
List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

len() - can help to determine the legth of a list or how many items a list has

In [10]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

type()
From Python's perspective, lists are defined as objects with the data type 'list':

In [13]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

Use the list() constructor to make a List:

In [16]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.

Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.

Dictionary is a collection which is ordered** and changeable. No duplicate members.

.

ACCESS ITEMS

In [24]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

Note: The first item has index 0.

Negative Indexing
Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [30]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

RANGE OF INDEXES

In [35]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

# Note: The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [45]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

# This example returns the items from the beginning to, but NOT including, "kiwi":

['apple', 'banana', 'cherry', 'orange']

In [43]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

# This example returns the items from "cherry" to the end:

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [41]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

# This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

['orange', 'kiwi', 'melon']

CHANGE LIST ITEMS

Change Item Value
To change the value of a specific item, refer to the index number:

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

# Change the second item:

['apple', 'blackcurrant', 'cherry']

In [54]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [56]:
'''
If you insert more items than you replace, the new items will be inserted where you specified, 
and the remaining items will move accordingly:
'''
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [62]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

# Change the second and third value by replacing it with one value:

['apple', 'watermelon']

Insert Items


To insert a new list item, without replacing any of the existing values, we can use the insert() method.


The insert() method inserts an item at the specified index:

In [66]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

ADD LIST ITEMS

Using the append() method to append an item:

In [72]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [74]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

# Insert an item as the second position:

['apple', 'orange', 'banana', 'cherry']

To append elements from another list to the current list, use the extend() method.

In [77]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [80]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

REMOVE LIST ITEMS

The remove() method removes the specified item.

In [88]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [93]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

Remove Specified Index

The pop() method removes the specified index.

In [98]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [100]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

# If you do not specify the index, the pop() method removes the last item.

['apple', 'banana']

The del keyword also removes the specified index:

In [103]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [116]:
thislist = ["apple", "banana", "cherry"]
del thislist

print(thislist) # ERROR

NameError: name 'thislist' is not defined

The clear() method empties the list.

The list still remains, but it has no content.

In [111]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

LOOP LISTS

In [118]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

# Print all items in the list, one by one:

apple
banana
cherry

In [127]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

'''
thislist — это список: ["apple", "banana", "cherry"].

range(len(thislist)) создаёт последовательность чисел от 0 до длины списка (не включая конец), 
то есть [0, 1, 2].

for i in range(len(thislist)):

Переменная i по очереди принимает значения из последовательности 0, 1, 2.
thislist[i]:

Используется индекс i для доступа к элементам списка:
Когда i = 0, выводится thislist[0] → "apple".
Когда i = 1, выводится thislist[1] → "banana".
Когда i = 2, выводится thislist[2] → "cherry".
print(thislist[i]):

Печатает элементы по одному: "apple", "banana", "cherry".
'''

apple
banana
cherry

'\nthislist — это список: ["apple", "banana", "cherry"].\n\nrange(len(thislist)) создаёт последовательность чисел от 0 до длины списка (не включая конец), \nто есть [0, 1, 2].\n\nfor i in range(len(thislist)):\n\nПеременная i по очереди принимает значения из последовательности 0, 1, 2.\nthislist[i]:\n\nИспользуется индекс i для доступа к элементам списка:\nКогда i = 0, выводится thislist[0] → "apple".\nКогда i = 1, выводится thislist[1] → "banana".\nКогда i = 2, выводится thislist[2] → "cherry".\nprint(thislist[i]):\n\nПечатает элементы по одному: "apple", "banana", "cherry".\n'

Using a While Loop

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [130]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

Looping Using List Comprehension
List Comprehension offers the shortest syntax for looping through lists:

In [133]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]